@mixin fontSize($sizeValue){
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
}

.logo {

	.shapes {
		display: flex;
		.triangleUp{
			width: 12vw;
			    border-left: 6vw solid transparent;
			    border-right: 6vw solid transparent;
			    border-bottom: 12vw solid #000;
		}
		.square {
			width: 12.1vw;
			height: 12vw;
			background: black;

		}
		.triangleDown{
			width: 12vw;
	     	border-left: 6vw solid transparent;
	     	border-right: 6vw solid transparent;
	      	border-top: 12vw solid #000;
	      	
		}
	}
	.words {
		display: flex;
		div {
			font-size: 2vw;
			text-align: center;
			padding: 0.7vw 1vw;
			background: #fff;
			border: 1px solid #000;
			text-transform: uppercase;
			width: 12vw;
			h1 {
				margin: 0;
				font-size: 1.8vw;
			}
		}
		.squareWord{
			border-left: none;
			border-right: none;
		}
		.video {
			width: 12.1vw;
			border-right: none;
		}
	}
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%) rotate(0deg);

  }
  30% {
    transform: translateX(00%) rotate(90deg);
  }
  70% {
  	transform: translateX(00%) rotate(90deg);
  }
  100% {
  	transform: translateX(00) rotate(0deg);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-100%) rotate(0deg);

  }
  30% {
    transform: translateX(00%) rotate(-90deg);
  }
  70% {
  	transform: translateX(00%) rotate(-90deg);
  }
  100% {
  	transform: translateX(00) rotate(0deg);
  }
}
body.home {
	.logo .shapes {
		.triangleUp {
			animation: 5s ease-out 0s 1 slideInFromLeft;
		}
		.triangleDown {
			animation: 5s ease-out 0s 1 slideInFromRight;
		}
	}
}

