.mmembership_option {
    width: 100%;
    border: 1px solid black;
    h3 {
        width: 100%;
        background: #a3a1e9;
        border-bottom: 1px solid black;
        text-transform: uppercase;
        padding: 12px;
        text-align: center;
    }
    .membership_price {
        background: white;
        border-bottom: 1px solid black;
        padding: 12px;
        text-align: center;

    }
    .membership_price {
        background: #75fb4c;
        text-align: center;
        padding: 12px;
    }
   
}